In [37]:
setwd('/home/leoKraushaar/Documents/School/Year 3/Semester 2/STAT 413/Project/protests/')

## Retail

In [38]:
retail <- read.csv("data/raw/retail.csv")
retail <- retail[, c("REF_DATE", "GEO", "VALUE")]

write.csv(retail, "data/clean/retail.csv", row.names = FALSE)

head(retail)

  REF_DATE GEO                       VALUE
1 2022-01  Newfoundland and Labrador 927147
2 2022-02  Newfoundland and Labrador 903733
3 2022-03  Newfoundland and Labrador 915525
4 2022-04  Newfoundland and Labrador 920444
5 2022-05  Newfoundland and Labrador 934566
6 2022-06  Newfoundland and Labrador 913765

## Power

In [39]:
power <- read.csv("data/raw/power.csv")
power <- power[, c("REF_DATE", "GEO", "Electric.power..components", "VALUE")]

write.csv(power, "data/clean/power.csv", row.names = FALSE)

head(power)

  REF_DATE GEO                       Electric.power..components VALUE
1 2022-01  Newfoundland and Labrador Total generation           4501677
2 2022-02  Newfoundland and Labrador Total generation           4119837
3 2022-03  Newfoundland and Labrador Total generation           4202358
4 2022-04  Newfoundland and Labrador Total generation           3356896
5 2022-05  Newfoundland and Labrador Total generation           2939704
6 2022-06  Newfoundland and Labrador Total generation           2822154

## Oil

In [40]:
oil <- read.csv("data/raw/oil.csv")
oil <- oil[, c("REF_DATE", "GEO", "VALUE")]

write.csv(oil, "data/clean/oil.csv", row.names = FALSE)

head(oil)

  REF_DATE GEO                       VALUE
1 2022-01  Newfoundland and Labrador 132480
2 2022-02  Newfoundland and Labrador  81776
3 2022-03  Newfoundland and Labrador  44268
4 2022-04  Newfoundland and Labrador  77160
5 2022-05  Newfoundland and Labrador 119265
6 2022-06  Newfoundland and Labrador  46353

## Manufacturing

In [42]:
manufac <- read.csv("data/raw/manufac.csv")

manufac <- manufac[, c("REF_DATE", "GEO", "VALUE")]

write.csv(manufac, "data/clean/manufac.csv", row.names = FALSE)

head(manufac)

  REF_DATE GEO                       VALUE
1 2022-01  Newfoundland and Labrador 264436
2 2022-02  Newfoundland and Labrador 304927
3 2022-03  Newfoundland and Labrador 353745
4 2022-04  Newfoundland and Labrador 346772
5 2022-05  Newfoundland and Labrador 409908
6 2022-06  Newfoundland and Labrador 335747

## Food

In [43]:
food <- read.csv("data/raw/food.csv")

food <- food[, c("REF_DATE", "GEO", "VALUE")]

write.csv(food, "data/clean/food.csv", row.names = FALSE)

head(food)

  REF_DATE GEO                       VALUE
1 2022-01  Newfoundland and Labrador 64729
2 2022-02  Newfoundland and Labrador 73373
3 2022-03  Newfoundland and Labrador 75167
4 2022-04  Newfoundland and Labrador 78292
5 2022-05  Newfoundland and Labrador 75795
6 2022-06  Newfoundland and Labrador 76517