In [2]:
# Change to directory with data
setwd("/home/leoKraushaar/Documents/School/Year 3/Semester 2/STAT 413/Project/protests/")

## Retail

In [5]:
retail <- read.csv("data/raw/retail.csv")
# retail <- retail[, c("REF_DATE", "GEO", "VALUE")]

# write.csv(retail, "data/clean/retail.csv", row.names = FALSE)

head(retail)

  REF_DATE GEO                       DGUID
1 2022-01  Newfoundland and Labrador 2016A000210
2 2022-02  Newfoundland and Labrador 2016A000210
3 2022-03  Newfoundland and Labrador 2016A000210
4 2022-04  Newfoundland and Labrador 2016A000210
5 2022-05  Newfoundland and Labrador 2016A000210
6 2022-06  Newfoundland and Labrador 2016A000210
  North.American.Industry.Classification.System..NAICS. Sales
1 Retail trade [44-45]                                  Total retail sales
2 Retail trade [44-45]                                  Total retail sales
3 Retail trade [44-45]                                  Total retail sales
4 Retail trade [44-45]                                  Total retail sales
5 Retail trade [44-45]                                  Total retail sales
6 Retail trade [44-45]                                  Total retail sales
  Adjustments         Release          UOM     UOM_ID SCALAR_FACTOR SCALAR_ID
1 Seasonally adjusted January 19, 2024 Dollars 81     thousands     3
2 Seasonally adjusted January 19, 2024 Dollars 81     thousands     3
3 Seasonally adjusted January 19, 2024 Dollars 81     thousands     3
4 Seasonally adjusted January 19, 2024 Dollars 81     thousands     3
5 Seasonally adjusted January 19, 2024 Dollars 81     thousands     3
6 Seasonally adjusted January 19, 2024 Dollars 81     thousands     3
  VECTOR      COORDINATE VALUE  STATUS SYMBOL TERMINATED DECIMALS
1 v1579556174 2.1.1.2.11 927147        NA     NA         0
2 v1579556174 2.1.1.2.11 903733        NA     NA         0
3 v1579556174 2.1.1.2.11 915525        NA     NA         0
4 v1579556174 2.1.1.2.11 920444        NA     NA         0
5 v1579556174 2.1.1.2.11 934566        NA     NA         0
6 v1579556174 2.1.1.2.11 913765        NA     NA         0

In [4]:
dim(retail)

[1] 1495    3

## Power

In [39]:
power <- read.csv("data/raw/power.csv")
power <- power[, c("REF_DATE", "GEO", "Electric.power..components", "VALUE")]

write.csv(power, "data/clean/power.csv", row.names = FALSE)

head(power)

  REF_DATE GEO                       Electric.power..components VALUE
1 2022-01  Newfoundland and Labrador Total generation           4501677
2 2022-02  Newfoundland and Labrador Total generation           4119837
3 2022-03  Newfoundland and Labrador Total generation           4202358
4 2022-04  Newfoundland and Labrador Total generation           3356896
5 2022-05  Newfoundland and Labrador Total generation           2939704
6 2022-06  Newfoundland and Labrador Total generation           2822154

## Oil

In [40]:
oil <- read.csv("data/raw/oil.csv")
oil <- oil[, c("REF_DATE", "GEO", "VALUE")]

write.csv(oil, "data/clean/oil.csv", row.names = FALSE)

head(oil)

  REF_DATE GEO                       VALUE
1 2022-01  Newfoundland and Labrador 132480
2 2022-02  Newfoundland and Labrador  81776
3 2022-03  Newfoundland and Labrador  44268
4 2022-04  Newfoundland and Labrador  77160
5 2022-05  Newfoundland and Labrador 119265
6 2022-06  Newfoundland and Labrador  46353

## Manufacturing

In [42]:
manufac <- read.csv("data/raw/manufac.csv")

manufac <- manufac[, c("REF_DATE", "GEO", "VALUE")]

write.csv(manufac, "data/clean/manufac.csv", row.names = FALSE)

head(manufac)

  REF_DATE GEO                       VALUE
1 2022-01  Newfoundland and Labrador 264436
2 2022-02  Newfoundland and Labrador 304927
3 2022-03  Newfoundland and Labrador 353745
4 2022-04  Newfoundland and Labrador 346772
5 2022-05  Newfoundland and Labrador 409908
6 2022-06  Newfoundland and Labrador 335747

## Food

In [43]:
food <- read.csv("data/raw/food.csv")

food <- food[, c("REF_DATE", "GEO", "VALUE")]

write.csv(food, "data/clean/food.csv", row.names = FALSE)

head(food)

  REF_DATE GEO                       VALUE
1 2022-01  Newfoundland and Labrador 64729
2 2022-02  Newfoundland and Labrador 73373
3 2022-03  Newfoundland and Labrador 75167
4 2022-04  Newfoundland and Labrador 78292
5 2022-05  Newfoundland and Labrador 75795
6 2022-06  Newfoundland and Labrador 76517

## New Retail